@import "../../../core/Variables"

label
    color: $special-text-color
    text-transform: uppercase
    font-size: 11px

input
    border: 1px solid $tertiary-color
    width: 100px
    height: 40px
    border-radius: 5px

select
    background-color: $primary-color
    width: 100px
