@import "../Variables"
@import "../styles/cards"

form
    margin-top: 10px
    display: flex
    flex-direction: column
    align-items: center

    fieldset
        width: 90%
        margin-top: 10px
        margin-bottom: 10px
        border: 1px solid $secondary-color
        border-radius: 5px
        padding: 10px

        h2
            text-transform: uppercase
            color: $special-text-color
            font-weight: bold
            margin-bottom: 20px

        .fieldset-row
            display: flex
            flex-direction: row
            gap: 20px
            flex-wrap: wrap

            .form-field
                display: flex
                flex-direction: column

                label
                    color: $special-text-color
                    text-transform: uppercase
                    font-weight: bold
                    font-size: 12px
                    margin-bottom: 10px

                textarea
                    resize: none
                    background-color: $secondary-color
                    border: none
                    height: 80px
                    width: 800px
                    padding: 10px
                    margin-bottom: 20px

                input, select
                    height: 40px
                    background-color: $secondary-color
                    border: none
                    border-radius: 5px
                    text-align: left
                    padding-left: 10px
                    font-size: 13px
                    width: 200px

                input[type="number"]
                    text-align: center
                    padding-left: 0
                    width: 140px

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button
                    -webkit-appearance: none
                    margin: 0

