.container{
    border-radius: 20px;
    width: 40rem;
    height: 16rem;
    padding-left: 2rem;

    .personagem{
        display: flex;
        flex-direction: row;
        align-items: center;

        .personagem-status{

            .armadura{
                background: url('../../../assets/shield.svg') no-repeat;
                background-size: 5rem;
            }
        }
    }
}