.status-card {
    border-radius: 20px;
    width: 40rem;
    height: 18rem;

    .personagem {
        display: flex;
        flex-direction: row;
        align-items: center;

        .personagem-status {

            display: flex;
            flex-direction: row;

            .CA {
                z-index: 5;
                background: url("../../../assets/shield.svg") no-repeat;
                background-size: 100%;
                background-color: transparent;
                border: none;
                text-align: center;
                font-size: x-large;
                width: 4rem;
                height: 4rem;
            }
        }
    }
}