<div class="container">
    <div class="personagem">
    <h2>Ragnar Lognar</h2>
    <h3>Guerreiro humano</h3>
    <h3>Nivel 1</h3>
    <div class='personagem-status'>
        <img class='foto' src="/assets/Character.jpg" alt="Foto do personagem" />
        <svg width="250" height="250">
            <circle class="animacao" #vida cx="125" cy="125" r="89"></circle>
        </svg>
        <div class='overlay'>
            <p>Vida atual</p>
            <p>{{ StatsPersonagemService.status[0].vidaAtual + '/' + StatsPersonagemService.status[0].vidaMaxima }}</p>
        </div>
    </div>
</div>
</div>