<div class="container">
    <div class="personagem">
        <app-foto-personagem />
        <div class='personagem-status'>
            <div class="defesa-deslocamento">
                <label>Classe de armadura</label>
                <input type="text" class="input-defesa" id="input-ca" name="CA" [(ngModel)]="StatsPersonagemService.status[1].valor" />
            </div>
            <div class="deslocamento">
                <p>Deslocamento</p>
                <p>{{ StatsPersonagemService.status[2].valor }} pés</p>
            </div>
        </div>
    </div>
</div>