<div class="row">
    <div class="card full-size-card">
        <h2 class="title">PERICIAS</h2>
        <div class="items">
            @for(skill of character.skills; track $index){
            <div class="item">
                <div class="item-card">
                    <button class="item-name" (click)="edit(skill, $index)" >
                        <p class="name">{{skill.name}}</p>
                        <p class="short-description">{{skill.attribute}}</p>
                    </button>
                    <div class="item-rolls">
                        <p class="item-skill">{{skill.training}}</p>
                        <app-roll-button [valor]="skill.value" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

    <div class="card full-size-card">
        <h2 class="title">ATAQUES</h2>
        <div class="items">
            @for(attack of character.attacks; track $index){
            <div class="item">
                <div class="item-card">
                    <button class="item-name">
                        <p class="name">{{attack.name}}</p>
                        <p class="short-description">{{attack.range}}</p>
                    </button>
                    <div class="item-rolls">
                        @if(attack.toHit){
                        <app-roll-button [valor]="attack.toHit" />
                        }
                        <button class="damage-button">
                            @if(attack.damages){
                            <p>{{attack.damages[0].quantity + "d" + attack.damages[0].diceSize + " " +
                            attack.damages[0].type}}</p>
                            }
                        </button>
                    </div>
                </div>
            </div>
            }
            <button class="btn-open-modal">Adicionar</button>
        </div>
    </div>
</div>
