<div class="row">
    <div class="card full-size-card">
        <h2 class="title">PERICIAS</h2>
        <div class="items">
            @if(character.build.skills){
            @for(skill of character.build.skills; track $index){
            <div class="item">
                <div class="item-card">
                    <button class="item-name">
                        <p class="name">{{skill.name}}</p>
                        <p class="short-description">{{skill.attribute}}</p>
                    </button>
                    <div class="item-rolls">
                        <p class="item-skill">{{skill.training}}</p>
                        <app-roll-button [valor]="skill.totalValue" />
                    </div>
                </div>
            </div>
            }
        }
        </div>
    </div>

    <div class="card full-size-card">
        <h2 class="title">ATAQUES</h2>
        <div class="items">
            @for(attack of character.build.attacks; track $index){
            <div class="item">
                <div class="item-card">
                    <button class="item-name">
                        <p class="name">{{attack.name}}</p>
                        <p class="short-description">{{attack.attackRange}}</p>
                    </button>
                    <div class="item-rolls">
                        @if(attack.toHit){
                        <app-roll-button [valor]="attack.toHit" />
                        }
                        <button class="damage-button">
                            @if(attack.damages[0]){
                            <p>{{attack.damages[0] + " " +
                                attack.damages[0].damageType}}</p>
                            }
                        </button>
                    </div>
                </div>
            </div>
            }
            <button class="btn-add">Adicionar</button>
        </div>
    </div>
</div>