div {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;

    progress {
        width: 100%;
        height: 2rem;
        border: 4px solid #181c2b;
        grid-row-start: 1;
        grid-column-start: 1;
    }

    progress::-webkit-progress-value {
        background: #24659b;
    }

    progress::-webkit-progress-bar {
        background: #181c2b;
    }

    p {
        width: 100%;
        grid-row-start: 1;
        grid-column-start: 1;
        z-index: 3;
        margin: 0;
        text-align: center;
    }
}