<form [formGroup]="attrForm" (change)="onSubmit()">
    @for(question of attrQuestions; track question.key){
    <div class="form-row">
        <div [className]="question.controlType == 'textarea' ? 'full-size-field form-field' : 'form-field'">
            <label [htmlFor]="question.key">{{question.label}}</label>
            <div [className]="question.controlType == 'textarea' ? '' : 'border-form-field'">
                @switch(question.controlType){
                @case("input"){
                <input class="small-input" [id]="question.key" [type]="question.type"
                    [formControlName]="question.key" />
                }
                @case("textarea"){
                <textarea [id]="question.key"></textarea>
                }
                }
            </div>
        </div>
    </div>
    }
</form>