<form [formGroup]="attrForm" (change)="onSubmit()">
    @for(question of attrQuestions; track question.key){
        <div class="form-field">
            <label [htmlFor]="question.key">{{question.label}}</label>
            @switch(question.controlType){
                @case("input"){
                    <input [id]="question.key" [type]="question.type" [formControlName]="question.key" />
                }
                @case("dropdown"){
                    <select [id]="question.key" [formControlName]="question.key">
                        @for(option of question.options; track option){
                            <option [value]="option.key">{{option.value}}</option>
                        }
                    </select>
                }
                @case("textarea"){
                    <textarea [id]="question.key"></textarea>
                }
            }
        </div>
    }
</form>