div{
  background-color: var(--cor-secundaria);
  border-radius: 6px;
  padding: 16px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  cursor: pointer;

  p{
    font-size: 14px;
  }

  .nome{
    color: var(--cor-destaque);
    font-weight: bold;
    text-transform: uppercase;
  }
}
