
button{
    cursor: pointer;
    border: none;
    border-radius: 6px;    
    margin-top: 1.5rem;
    background-color: #11122c;
    width: 6rem;
    height: 2.5rem;
}

button:hover{
    background-color: #f75a68;
}
