button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #f75a68;
}

.delete {
    position: static;
    margin: 0;
}
