.card {
    border-radius: 10px;
    width: 33rem;
    height: 44rem;
    overflow:auto;

    .nav-row {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 1rem;

        .aba {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            width: 10rem;
            cursor: pointer;

            h2{
                font-size: 15px;
                margin: 0;
            }

            img {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
            }

        }

        i {
            cursor: pointer;
            position: absolute;
            font-size: 20px;
            color: white;
        }

        .fa-arrow-left {
            left: 1.5rem;
        }

        .fa-arrow-right {
            right: 1.5rem;
        }
    }

    .abas {
        overflow-y: auto;
        .titulo-nivel{
            margin-left: 1rem;
        }
        .accordion {
            border: 1px solid rgba(128, 128, 128, 0.308);
            border-radius: 10px;
            padding: 1rem;
            width: 85%;
            margin: 0 auto 1rem auto;

            .row {
                display: flex;
                align-items: center;

                p{
                    font-size: 12px;
                }

                input {
                    margin-left: 1rem;
                    background-color: transparent;
                    border: none;
                    border-bottom: var(--borda);
                    font-size: 12px;
                }

                select {
                    margin-left: 1rem;
                    background-color: var(--cor-cards);
                    border: none;
                    font-size: 12px;
                }

                select:hover {
                    cursor: pointer;
                    color: var(--cor-destaque);
                }
            }
        }

        .ataque-row {
            display: flex;
            justify-content: space-around;
            width: 100%;

            .nome-ataque {
                width: 30%;
                padding: 8px;
                margin-bottom: 0;
            }

            .bonus-ataque {
                width: 10%;
                padding: 8px;
                margin-bottom: 0;
            }

            .dano-ataque {
                width: 35%;
                padding: 8px;
                margin-bottom: 0;
            }

            span {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}