<div class="card">
    <h3>Ações</h3>
    @for(acao of personagem.acoes.ataques; track $index){
        <div class="acao" style="display: flex; width: 90%; margin-left: auto; margin-right: auto;">
            <app-acao [acao]="acao" [index]="$index" style="width: 100%;" />
        </div>
        }
        @for(acao of personagem.acoes.magias; track $index){
        <div class="acao" style="display: flex; width: 90%; margin-left: auto; margin-right: auto;">
            <app-acao [acao]="acao" [index]="$index" style="width: 100%;" />
        </div>
        }
    @for(acao of personagem.acoes.habilidadesRaca; track $index){
    <div class="acao" style="display: flex; width: 90%; margin-left: auto; margin-right: auto;">
        <app-acao [acao]="acao" [index]="$index" style="width: 100%;" />
    </div>
    }
    @for(acao of personagem.acoes.habilidadesClasse; track $index){
    <div class="acao" style="display: flex; width: 90%; margin-left: auto; margin-right: auto;">
        <app-acao [acao]="acao" [index]="$index" style="width: 100%;" />
    </div>
    }
    @for(acao of personagem.acoes.talentos; track $index){
    <div class="acao" style="display: flex; width: 90%; margin-left: auto; margin-right: auto;">
        <app-acao [acao]="acao" [index]="$index" style="width: 100%;" />
    </div>
    }
    <app-botao-pequeno style="margin-left: 2rem; margin-bottom: 2rem;" [nomeComponente]="'acao'" [acao]="'expandir'" />

    @if(controleAccordion.adicionarAcaoEstaAberto){
    <div class="accordion">
        <h4 style="text-align: center;">Adicionar ação</h4>
        <div class="row">
            <p>Nome: </p>
            <input id="nome-acao">
        </div>
        <div class="row">
            <p>Tipo de ação: </p>
            <select id="tipo-acao" style="background-color: var(--secondary-color); border: none; margin-left: 1rem;" [(ngModel)]="default">
                <option *ngFor="let tipo of tiposAcoes">{{ tipo }}</option>
            </select>
        </div>
        <div class="row">
            <p>Custo da ação: </p>
            <select id="custo-acao" style="background-color: var(--secondary-color); border: none; margin-left: 1rem;" [(ngModel)]="custoDefault">
                <option *ngFor="let custo of custoAcoes">{{ custo }}</option>
            </select>
        </div>
        <div class="descricao">
            <p>Descrição: </p>
            <textarea id="descricao-acao"></textarea>
        </div>
        <app-botao-adicionar style="margin-left: 2rem;" [nomeComponente]="'acao'" />
    </div>
    }
</div>