.card {
    border-radius: 10px;
    width: 33rem;
    height: 44.5rem;
    overflow: auto;

    .nav-row {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        position: relative;

        .aba {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            width: 10rem;

            img {
                width: 2rem;
                height: 2rem;
                margin-right: 1rem;
            }
        }

        i {
            cursor: pointer;
            position: absolute;
            font-size: 25px;
            color: white;
        }

        .fa-arrow-left {
            left: 1.5rem;
        }

        .fa-arrow-right {
            right: 1.5rem;
        }
    }

    .ataque-row {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .nome-ataque {
            width: 30%;
            padding: 8px;
        }

        .bonus-ataque {
            width: 20%;
            padding: 8px;
        }

        .dano-ataque {
            width: 30%;
            padding: 8px;
        }
    }

}