<div class="edit-tab card">
    <h2 class="title">EDITAR DETALHES</h2>

    @switch (editTabControl.openTab) {

    @case ("details"){
    <app-dynamic-form [Form]="detailsForm" [FormData]="detailsFormData" (change)="onSubmitDetails()"></app-dynamic-form>
    }

    @case("pv"){
    <app-dynamic-form [Form]="pvForm" [FormData]="pvFormData" (change)="onSubmitPv()"></app-dynamic-form>
    }

    @case("mp"){
    <app-dynamic-form [Form]="mpForm" [FormData]="mpFormData" (change)="onSubmitMp()"></app-dynamic-form>
    }

    @case("attribute"){
    <app-dynamic-form [Form]="attributeForm" [FormData]="attributeFormData"
        (change)="onSubmitAttribute()"></app-dynamic-form>
    }

    @case("savingThrows"){
    <app-dynamic-form [Form]="savingThrowsForm" [FormData]="savingThrowsFormData"
        (change)="onSubmitSavingThrows()"></app-dynamic-form>
    }

    @case("skills"){
    <app-dynamic-form [Form]="skillsForm" [FormData]="skillsFormData" (change)="onSubmitSkills()"></app-dynamic-form>
    }
    }
</div>