<div class="edit-tab card">
    <h2 class="title">EDITAR DETALHES</h2>

    @switch (editTabControl.openTab) {

    @case ("details"){
    <app-dynamic-form [Form]="detailsForm" [FormData]="detailsFormData" [callbackFunction]="onSubmitDetails"></app-dynamic-form>
    }

    @case("pv"){
    <app-dynamic-form [Form]="pvForm" [FormData]="pvFormData" [callbackFunction]="onSubmitPv"></app-dynamic-form>
    }

    @case("mp"){
    <app-dynamic-form [Form]="mpForm" [FormData]="mpFormData" [callbackFunction]="onSubmitMp"></app-dynamic-form>
    }

    @case("attribute"){
    <app-dynamic-form [Form]="attributeForm" [FormData]="attributeFormData"
        [callbackFunction]="onSubmitAttribute"></app-dynamic-form>
    }

    @case("savingThrows"){
    <app-dynamic-form [Form]="savingThrowsForm" [FormData]="savingThrowsFormData"
        [callbackFunction]="onSubmitSavingThrows"></app-dynamic-form>
    }

    @case("skills"){
    <app-dynamic-form [Form]="skillsForm" [FormData]="skillsFormData" [callbackFunction]="onSubmitSkills"></app-dynamic-form>
    }

    @case("actions"){
    <app-dynamic-form [Form]="actionsForm" [FormData]="actionsFormData" [callbackFunction]="onSubmitSkills"></app-dynamic-form>
    }
    }
</div>