.pericia {
    height: 1.692rem;
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: center;

    .nome {
        width: 10rem;
    }

    .valor {
        width: 2rem;
    }

    .atributo {
        width: 3.5rem;
    }

    select {
        border: none;
        background-color: var(--cor-cards);
        margin-right: 0.5rem;
    }

    p {
        margin: unset;
    }

    button {
        border: none;
        background-color: transparent;
    }

    select:hover {
        cursor: pointer;
        color: var(--cor-destaque);
    }

    button:hover {
        color: var(--cor-destaque);
        cursor: pointer;
    }

}