<div class="pericia">
    @if(ehPericia){
    <select (change)="personagem.atualizarAtributos()" [(ngModel)]="pericia.grau">
        <option *ngFor="let treinamento of personagem.treinamento">{{ treinamento.grau }}</option>
    </select>
    }
    <div class="atributo">
        <p>{{ ehPericia ? pericia.siglaAtributo : resistencia.siglaAtributo }}</p>
    </div>
    <div class="nome">
        <button style="text-transform: capitalize;">{{ ehPericia ? pericia.id : resistencia.id }}</button>
    </div>
    <div class="valor">
        <p>{{ ehPericia ? pericia.valor : resistencia.valor }}</p>
    </div>
</div>