.pericia {
    height: 1.692rem;
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;

    .nome {
        width: 8rem;
    }

    .valor {
        width: 1.5rem;

        p {
            font-size: 12px;
        }
    }

    .atributo {
        width: 2rem;
    }

    select {
        border: none;
        background-color: var(--cor-cards);
        font-size: 12px;
    }

    p {
        margin: unset;
        font-size: 12px;
    }

    button {
        font-size: 12px;
        border: none;
        background-color: transparent;
    }

    select:hover {
        cursor: pointer;
        color: var(--cor-destaque);
    }

    button:hover {
        color: var(--cor-destaque);
        cursor: pointer;
    }

}