<div class="row">
    <div class="minor-card card">
        <h2 class="title">
            DESLOCAMENTO
        </h2>
        <div class="content">
            <img src="/assets/icons/speed.svg" alt="Deslocamento" />
            <input [(ngModel)]="character!.speed" />
        </div>
    </div>
    <div class="minor-card card">
        <h2 class="title">
            PERCEPÇÃO
        </h2>
        <div class="content">
            <img src="/assets/icons/perception.svg" alt="Percepção" />
            <app-roll-button [valor]="character!.skills[21].totalValue" />
        </div>
    </div>
    <div class="card" style="width: 610px;">
        <h2 class="title">
            TESTES DE RESISTÊNCIA
        </h2>
        <div class="content saving-throws">
            @for(save of character!.skills; track $index){
              @if(save.isSavingThrow){
            <app-smaller-container-with-dice-roll [save]="save" [index]="$index" type="save" />
              }
            }
        </div>
    </div>
</div>
