.vida-personagem {
    position: relative;

    .foto-barra {
        display: grid;
        grid-template-columns: 1fr;
        width: 250px;
        height: 250px;
        align-items: center;

        .overlap {
            grid-row-start: 1;
            grid-column-start: 1;
        }


        .overlay {
            position: relative;
            text-align: center;
            z-index: 100;
            opacity: 0;
            background-color: transparent;
            transition: .5s ease;


            p {
                font-family: var(--default-font-family);
                color: #778da9;
                font-weight: bold;
                font-size: 20px;
            }
        }

        .foto {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .CA {
            z-index: 5;
            background: url("../../../assets/shield.svg") no-repeat;
            background-size: 100%;
            position: absolute;
            top: 58%;
            left: 50%;
            background-color: transparent;
            border: none;
            text-align: center;
            font-size: x-large;
            width: 4rem;
            height: 4rem;
        }

        svg {
            z-index: 1;
            transform: rotate(-270deg);

            circle {
                fill: none;
                stroke: #c92121;
                stroke-width: 18px;
                stroke-dasharray: calc(2 * pi * 68);
                stroke-dashoffset: var(--barra-de-vida);
                stroke-linecap: butt;
            }

            .animacao {
                animation: progress 1s ease;
            }

            @keyframes progress {
                from {
                    stroke-dashoffset: calc(2 * pi * 68);
                }
            }
        }
    }

}

.vida-personagem:hover .overlay {
    cursor: pointer;
    opacity: 1 !important;
}

.vida-personagem:hover img {
    opacity: 0.1;
}