<div class="card expanded-tab">
    <h2 class="title">{{etc.category}}</h2>

    <h3>{{etc.title}}</h3>

    @switch(etc.tab){
    @case("attribute"){
    <app-attr-form></app-attr-form>
    }
    @case("skill"){
    <div>
        <p>{{etc.choosenSkill.value}}</p>
        <p>{{etc.choosenSkill.name}}</p>
    </div>
    <app-skill-form></app-skill-form>
    }
    @case("save"){
    <div>
        <p>{{etc.choosenSkill.value}}</p>
        <p>{{etc.choosenSkill.name}}</p>
    </div>
    <app-skill-form></app-skill-form>
    }
    @case("attack"){

    }
    @case("spell"){

    }
    @case("ac"){

    }
    }

</div>