@if(character.build){
<main>
    <app-details />
    <app-status />
    <app-attributes />
    <app-secondary-status />
    <div class="routes">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">PERICIAS E AÇÕES</a>
        <a routerLink="/home/habilidades" routerLinkActive="active" ariaCurrentWhenActive="page">HABILIDADES</a>
        <a routerLink="/home/inventario" routerLinkActive="active" ariaCurrentWhenActive="page">INVENTARIO</a>
        <a routerLink="/home/magias" routerLinkActive="active" ariaCurrentWhenActive="page">MAGIAS</a>
    </div>

    @if(etc.isOpened){
    <app-expanded-tab />
    }
    <router-outlet></router-outlet>
</main>
}
@else {
    <img src="/assets/icons/d20.svg" alt="loading">
}