@if(character$ | async){
<main>
  <app-details [character]="character$ | async" />
  <app-status [character]="character$ | async" />
  <app-attributes [character]="character$ | async" />
  <app-secondary-status [character]="character$ | async" />
  <div class="tabs">
    <a (click)="changeTab('skills')" [className]="tab == 'skills' ? 'active' : null">PERICIAS E AÇÕES</a>
    <a (click)="changeTab('talents')" [className]="tab == 'talents' ? 'active' : null">HABILIDADES</a>
    <a (click)="changeTab('inventory')" [className]="tab == 'inventory' ? 'active' : null">INVENTARIO</a>
    <a (click)="changeTab('spells')" [className]="tab == 'spells' ? 'active' : null">MAGIAS</a>
  </div>

  @switch (tab){
  @case("skills"){
  <app-skills-attacks [character]="character$ | async"></app-skills-attacks>
  }
  @case("talents"){
  <app-talents [character]="character$ | async"></app-talents>
  }
  @case("inventory"){
  <app-inventory [character]="character$ | async"></app-inventory>
  }
  @case("spells"){
  <app-spells [character]="character$ | async"></app-spells>
  }
  }
</main>
}
@else {
<img ngSrc="/assets/icons/d20.svg" alt="loading" height="25" width="25">
}