@import "../../core/Variables"

header
    width: 100vw
    background-color: $title-background-color
    height: 95px
    flex-shrink: 0
    display: flex
    flex-direction: column
    justify-content: center
    padding-left: 33px

    .name
        font-size: 24px

    .char-class
        font-size: 20px
        margin-top: 6px

.sheet
    margin-top: 20px
    width: 1137px
    margin-left: auto
    margin-right: auto
    display: flex
    justify-content: space-between

    .status-column
        display: flex
        flex-direction: column
        gap: 15px

    .character
        width: 910px
        display: flex
        flex-direction: column
        justify-content: space-between

        .status-row
            display: flex
            justify-content: space-between
