@if(character){
<header>
  <p class="name">{{character.name}}</p>
  <p class="char-class">{{character.charClass + " " + character.race}}</p>
</header>
<main>
  <div class="sheet">
    <div class="status-column">
      <app-status [character]="character"></app-status>
      <app-attributes [attributes]="character.attributes"></app-attributes>
    </div>
    <div class="character">
      <div class="status-row">
        <app-modular-card img="ac.svg" title="defesa" [value]="character.armorClass"></app-modular-card>
        <app-modular-card img="speed.svg" title="deslocamento" [value]="character.speed"></app-modular-card>
        <app-modular-card img="initiative.svg" title="iniciativa" [value]="character.armorClass"
          [hasRoll]="true"></app-modular-card>
        <app-saving-throws [character]="character"></app-saving-throws>
      </div>
      <div class="skills-row">
        <app-skills [skills]="character.skills"></app-skills>
        <app-multi-tab-container [character]="character"></app-multi-tab-container>
      </div>
    </div>
  </div>
</main>
}
@else {
<img ngSrc="/assets/icons/d20.svg" alt="loading" height="25" width="25">
}