@import "../../core/Variables"
main
    width: 1000px
    margin-left: auto
    margin-right: auto

    .routes
        width: 100%
        height: 43px
        background-color: $title-background-color
        border-radius: 5px
        margin-top: 20px
        display: flex
        align-items: center
        justify-content: space-around

        a
            cursor: pointer
            text-decoration: none

        a:hover
            color: $highlight-color

        .active
            color: $highlight-color

img
    position: absolute
    top: 40%
    left: 50%
    width: 100px
    height: 100px
    animation: roll 1.5s infinite linear

    @keyframes roll
        0%
            transform: rotate(0)
        100%
            transform: rotate(360deg)

.opacity
    background: #0000008A
    position: fixed
    display: block
    z-index: 9
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100vw
    height: 100vh
