<div class="card">
    <div class="nav-row">
        <button><img src="assets/attacks.svg" alt="ataques"></button>
        <button><img src="assets/white-book.svg" alt="grimório" /></button>
        <button><img src="assets/skills.svg" alt="habilidades"></button>
    </div>
    @if(abaAtaqueEstaSelecionada){
        <h3 style="text-align: center;">Ataques</h3>
        <div class="ataque-row">
            <p class="nome-ataque">Nome</p>
            <p class="bonus-ataque">Bônus</p>
            <p class="dano-ataque">Dano</p>
        </div>

        @for(ataque of personagem.acoes.ataques; track $index){
            <app-ataques [ataque]="ataque" />
        }

        <app-botao-pequeno [acao]="'expandir'" [nomeComponente]="'ataques'" style="margin-left: 0.5rem;"/>

        @if(accordion.adicionarAtaqueEstaAberto){
            <div class="accordion">
                <div class="row">
                    <p>Nome do ataque: </p>
                    <input id="nome-ataque" />
                </div>
                <div class="row">
                    <p>Atributo usado: </p>
                    <select id="bonus-ataque" [(ngModel)]="atributoDefault">
                        <option *ngFor="let atributo of atributos">{{ atributo }}</option>
                    </select>
                </div>
                <div class="row">
                    <p>Dano: </p>
                    <input id="dano-ataque" />
                </div>
                <app-botao-adicionar [nomeComponente]="'ataques'" />
            </div>
        }
    }
</div>