<div class="card full-size-card">
    <h2 class="title">AÇÕES</h2>
    <div class="actions">
        @for(action of actions; track action.id){
        <div class="action">
            <button class="action-name">
                <p class="name">{{action.name}}</p>
                <p class="range">{{action.range}}</p>
            </button>
            <div class="action-rolls">
                <app-roll-button [valor]="action.hitValue" />
                <button class="damage-button">
                    <p>{{action.damageText}}</p>
                </button>
            </div>
        </div>
        }
    </div>
</div>