.accordion {
    border: 1px solid rgba(128, 128, 128, 0.308);
    border-radius: 10px 0 10px 0;
    padding: 1rem;
    width: 90%;
    margin: 0 auto 1rem auto;

    .row {
        display: flex;
        align-items: center;

        p{
            font-size: 12px;
        }
        input {
            font-size: 12px;
            margin-left: 1rem;
            background-color: transparent;
            border: none;
            border-bottom: var(--borda);
        }

        select {
            font-size: 12px;
            margin-left: 1rem;
            background-color: var(--cor-cards);
            border: none;
        }

        select:hover {
            cursor: pointer;
            color: var(--cor-destaque);
        }
    }
}