<div (click)="expandir()" class="magia">
    <p>{{magia.nome}}</p>
    <app-botao-pequeno acao="deletar" nomeComponente="magias" [nivel]="magia.nivelMagia" [index]="index" />
</div>

@if(magiaEstaExpandida){
<div class="magia-card">
    <div>
        <p style="font-weight: bold;">{{magia.nivelMagia}}º nivel @if(magia.atributoAcerto != 'Sem atributo'){ -
            {{magia.atributoAcerto}} }</p>
    </div>

    <div class="info">
        <div class="row">
            <p class="nomeCampo">Pontos de magia: </p>
            <p> {{magia.pontosMagia}}</p>
        </div>
        <div class="row">
            <p class="nomeCampo">Tempo de execução: </p>
            <p> {{magia.tempoExecucao}}</p>
        </div>
        <div class="row">
            <p class="nomeCampo">Alcance: </p>
            <p> {{magia.alcance}}</p>
        </div>
        <div class="row">
            <p class="nomeCampo">Duração: </p>
            <p> {{magia.duracao}}</p>
        </div>
        @if(magia.temDano){
        <div class="row">
            <p class="nomeCampo">Dano: </p>
            <p> {{magia.dano}} {{magia.tipoDano}}</p>
        </div>
        }
        @if(magia.temTeste){
        <div class="row">
            <p class="nomeCampo">Teste de resistência: </p>
            <p> {{magia.atributoResistido}}</p>
        </div>
        <div class="row">
            <p class="nomeCampo">Efeito do teste: </p>
            <p> {{magia.efeitoTeste}}</p>
        </div>
        }
    </div>

    <p class="descricao">{{magia.descricao}}</p>

    <div style="padding: 0; margin: 0;">
        <p style="font-weight: bold; font-size: 13px;">Em níveis superiores: </p>
        <p class="descricao">{{magia.niveisSuperiores}}</p>
    </div>

</div>
}