.card {
    width: 19rem;
    height: 23.9rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

    .proficiencia {
        position: relative;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .menu {
        border: 1px solid rgba(128, 128, 128, 0.308);
        border-radius: 15px;
        padding: 1rem 1rem 1rem 1rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .titulo {
            font-weight: bold;
            text-align: center;
        }
    }

    .row {
        display: flex;
        align-items: center;

        p{
            font-size: 13px;
        }
        input{
            font-size: 13px;
        }

        .tipo {
            margin-left: 1rem;
            background-color: transparent;
            border: none;
            width: 8rem;
            height: 1.5rem;
            cursor: pointer;
        }

        .tipo:hover {
            color: var(--cor-destaque);
        }

        .descricao {
            margin-left: 1rem;
            background-color: transparent;
            border: none;
            width: 7rem;
            border-bottom: 1px solid gray;
        }
    }
}