.pagina{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

app-atributos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1.5rem 2rem 1.5rem;
}

.pericias{
    margin-right: 1.5rem;
    margin-left: 1.5rem;    
    display: flex;

}

.acoes-inventario{
    display: flex;
    
}

app-acoes{
    margin-right: 1.5rem;
}
