<form [formGroup]="form" (submit)="onSubmit()">
    @for(fieldSet of fieldSets; track fieldSet){
    <fieldset>
        <h2>{{fieldSet.fieldSetLabel}}</h2>
        <div class="fieldset-row">
            @for(question of fieldSet.questions; track question){
            <div class="form-field">
                <label [htmlFor]="question.key">{{question.label}}</label>
                @switch (question.controlType) {
                @case("input"){
                <input [id]="question.key" [type]="question.type" [formControlName]="question.key"
                    [placeholder]="question.placeholder">
                }
                @case("dropdown"){
                <select [id]="question.key" [formControlName]="question.key">
                    @for(opt of question.options; track opt){
                    <option [value]="opt.key">{{opt.value}}</option>
                    }
                </select>
                }
                @case("textarea"){
                <textarea [id]="question.key" [formControlName]="question.key"
                    [placeholder]="question.placeholder"></textarea>
                }
                }
            </div>
            }
        </div>
    </fieldset>
    }
    <div class="submit">
        <button type="submit" [disabled]="!form.valid">Salvar</button>
    </div>
</form>