<form [formGroup]="Form" (change)="callbackFunction()">
    @for(data of FormData; track data.key){
    <div class="form-field">
        <label [htmlFor]="data.key">{{ data.label }}</label>
        @switch (data.controlType) {
        @case ("input") {
        <input [id]="data.key" [type]="data.type" [formControlName]="data.key">
        }
        @case ("dropdown"){
        <select [id]="data.key" [formControlName]="data.key">
            @for(option of data.options; track option){
            <option [value]="option.key">{{option.value}}</option>
            }
        </select>
        }
        @case ("textarea"){
        <textarea [id]="data.key"></textarea>
        }
        }
    </div>
    }
</form>