<div class="container">
    <div style="margin-left: auto; margin-right: auto;">
        <h4 (click)="controleFicha.salvarPersonagem()" style="margin: 0">{{personagem.info.nome}} -
            {{personagem.info.classe}} {{personagem.info.raca}}</h4>
        <div>
            <app-barra-status [tipo]="'vida'" />
            <app-barra-status [tipo]="'mana'" />
        </div>
    </div>
    <div class="info">
            <div class='row'>
                <app-status-menores [icon]="'level'" [tipo]="'nivel'" />
                <app-status-menores [icon]="'shield'" [tipo]="'ca'" />
            </div>
            <div class="row">
                <app-status-menores [icon]="'honor'" [tipo]="'honra'" />
                <app-status-menores [icon]="'deslocamento'" [tipo]="'deslocamento'" />
            </div>
        </div>
</div>