<div class="row">
    <div class="card large-card">
        <h2 class="title" (click)="editPv()">PONTOS DE VIDA</h2>
        <div class="content">
            <app-resource-bar (click)="editPv()" icon="heart.svg" css="red-bar" [atual]='character.status.actualPv'
                [max]='character.status.maxPv' />
        </div>
    </div>
    <div class="card minor-card">
        <h2 class="title">VIDA TEMPORARIA</h2>
        <div class="content">
            <img src="/assets/icons/purple-heart.svg" alt="vida temporaria" />
            <input [(ngModel)]="character.status.temporaryPv">
        </div>
    </div>
    <div class="card large-card">
        <h2 class="title" (click)="editMp()">PONTOS DE MANA</h2>
        <div class="content">
            <app-resource-bar (click)="editMp()" icon="mp.svg" css="blue-bar" [atual]="character.status.actualMp"
                [max]="character.status.maxMp" />
        </div>
    </div>
    <div class="card minor-card">
        <h2 class="title">CLASSE DE ARMADURA</h2>
        <div class="content">
            <img src="/assets/icons/ac.svg" alt="classe de armadura" />
            <input [(ngModel)]="character.status.ac" />
        </div>
    </div>
</div>