<div class="sidebar">
    <div id="rpgIcon" class="btn-aba">
        <img src="/assets/dragonhead.svg" alt="RPG" />
    </div>
    <div class="btn-aba active">
        <img src="/assets/home.svg" alt="Home" />
        <span>Home</span>
    </div>
    <div class="btn-aba">
        <img src="/assets/skills.svg" alt="Skills" />
        <span>Habilidades</span>
    </div>
    <div class="btn-aba">
        <img src="/assets/white-book.svg" alt="Grimório" />
        <span>Grimório</span>
    </div>
    <div class="btn-aba">
        <img src="/assets/pets.svg" alt="Pets" />
        <span>Pets</span>
    </div>
</div>
