@import "../../../../core/Variables"
@import "../../../../core/styles/multi-tab-items"

.range
    font-size: 14px
    width: 75px
    text-align: center
    color: $special-text-color

.damage
    border: 1px solid $tertiary-color
    border-radius: 5px
    padding: 6px
    width: 60px
    font-size: 16px

.damage:hover
    color: $highlight-color
    background-color: $tertiary-color

.damage-type
    width: 80px
    font-size: 14px
    text-align: center
