.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;

    .texto-item{
        width: 8rem;
    }
    .valor-item{
        width: 3rem;
    }
    p{
        border-radius: 10px 0 10px 0;
        border: 1px solid rgba(128, 128, 128, 0.308);
        margin-top: 0;
        margin-bottom: 0;
        padding: 8px;
        font-size: small;
        overflow: hidden;
        text-wrap: nowrap;
    }
}