div {
    position: relative;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .nomeAtributo{
    top: 0;
    height: 1.5rem;
    width: 4.5rem;
  }

  .atributo {
    bottom: -1rem;
    width: 3rem;
    border-radius: 30px;
    border: 1px solid var(--cor-secundaria);

    input {
      text-align: center;
      font-size: 14px;
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: none;
    }
  }
    .sigla {
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .sigla:hover {
        color: var(--cor-destaque);
        cursor: pointer;
    }

    .valor {
        margin: unset;
        font-size: 24px;
    }

    .modificador {
        border: 1px solid var(--cor-secundaria);
        cursor: pointer;
        width: 3.5rem;
        border-radius: 6px;
    }
    
    .modificador:hover{
      background-color: var(--cor-secundaria);
    }

}
