<div class="row">
    <div class="full-size-card card">
        <h2 class="title">HABILIDADES DE RAÇA E ORIGEM</h2>
        <div class="items">
            @for(talent of originTalents; track $index){
            <app-talent [talent]="talent" />
            }
        </div>
    </div>
    <div class="full-size-card card">
        <h2 class="title">HABILIDADES DE CLASSE E PODERES</h2>
        <div class="items">
            @for(talent of classTalents; track $index){
            <app-talent [talent]="talent" />
            }
        </div>
    </div>
</div>