:root {
  --cor-fundo: #171a1e;
  --cor-cards: #222831;
  --cor-secundaria: #313a47;
  --cor-destaque: #f75a68;
  --cor-fonte: #fff;
  --fonte: "Poppins", sans-serif;
  --borda: 1px solid gray;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  background: url("assets/background.png");
}

input[type="checkbox"] {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 6px;
  resize: vertical;
  min-height: 5rem;
  width: 95%;
  padding: 6px 10px;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
select,
button,
label,
textarea {
  font-family: var(--fonte);
  color: var(--cor-fonte);
}

.container {
  background-color: var(--cor-cards);
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1b1f29;
  border-radius: 15px;
}
