<div class="row">
    <div class="card full-size-card">
        <h2 class="title">PERICIAS</h2>
        <div class="items">
            @for(skill of character.skills; track $index){
            <div class="item">
                <div class="item-card">
                    <button class="item-name" (click)="edit($index, 'skills')">
                        <p class="name">{{skill.name}}</p>
                        <p class="short-description">{{skill.attribute}}</p>
                    </button>
                    <div class="item-rolls">
                        <p class="item-skill">{{skill.training}}</p>
                        <app-roll-button [valor]="skill.value" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

    <div class="card full-size-card">
        <h2 class="title">AÇÕES</h2>
        <div class="items">
            @for(action of character.actions; track $index){
            <div class="item">
                <div class="item-card">
                    <button class="item-name">
                        <p class="name">{{action.name}}</p>
                        <p class="short-description">{{action.range}}</p>
                    </button>
                    <div class="item-rolls">
                        @if(action.toHit){
                        <app-roll-button [valor]="action.toHit" />
                        }
                        <button class="damage-button">
                            @if(action.damages){
                            <p>{{action.damages[0].quantity + "d" + action.damages[0].diceSize + " " +
                                action.damages[0].type}}</p>
                            }
                        </button>
                    </div>
                </div>
            </div>
            }
            <button class="btn-open-modal" (click)="addAction()">Adicionar</button>
        </div>
    </div>
</div>