@import '../../../../core/Variables'

.resource-bar
    cursor: pointer
    border-radius: 5px
    border: 1px solid $tertiary-color
    width: 170px
    height: 25px
    flex-shrink: 0

    .bar
        width: 100%
        max-width: 240px
        height: 100%
        border-radius: 4px
        transition: width 0.5s

    .red-bar
        background-color: $red

    .blue-bar
        background-color: $blue
