<div class="details-card">
    <img src="/assets/character-photo.png" alt="Foto do personagem" />
    <div>
        <button class="character-name">{{character!.name}}</button>
        <div class="details-group">
            <app-modular-btn css="button-with-icon" [icon]="'race.svg'" [text]="character!.race" />
            <app-modular-btn css="button-with-icon" [icon]="'class.svg'" [text]="character!.charClass" />
            <app-modular-btn css="button-with-icon" [icon]="'origin.svg'" [text]="character!.origin" />
            <app-modular-btn css="button-with-icon" [icon]="'divinity.svg'" [text]="character!.divinity" />
        </div>
    </div>
    <app-modular-btn css="btn-with-fill rest-btn" text="Descanso" />
    <app-modular-btn [text]="'Nivel: ' + character!.level" css="minimalist-btn level-btn" />
</div>
