
$background-color: #14162B
$primary-color: #3E437D
$secondary-color: #52589F
$tertiary-color: #767FE5
$title-background-color: #313561
$special-text-color: #9EA6FF
$highlight-color: #FBDA79
$red: #AE2828
$blue: #2157A7