$background-color: #0f0f0f
$primary-color: #1F1F1F
$secondary-color: #353535
$tertiary-color: #4d4d4d
$title-background-color: #8b181a
$special-text-color: #CACACA
$highlight-color: #FBDA79
$red: #AE2828
$blue: #2157A7