div {
    background-color: var(--cor-secundaria);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;

    .nome {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: var(--cor-destaque);
    }

    .descricao {
        font-size: 12px;
        width: 210px;
        word-wrap: break-word;
        white-space: normal;
    }

}